<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Receipt Processor</title>
    </head>
<body>
   <h1>Receipt Processor</h1>

   <form action="{{ url_for('receipts') }}" method="post" enctype="multipart/form-data">  <!-- Form to generate id from receipt -->
    {{ Receiptform.hidden_tag() }}
    {{ Receiptform.jsonFile.label }} {{ Receiptform.jsonFile(accept=".json") }} <!-- Set the accepted file extension to ".json" when browsing the file -->
    <br>
    {{ Receiptform.submit()}} <!--Submit button-->
    <br>
   </form>

   <br>

   <form action="{{ url_for('receipts') }}" method="post" enctype="multipart/form-data">  <!-- Form to get points from receipt -->
    {{ idForm.hidden_tag() }}
    {{ idForm.receiptID.label }} {{idForm.receiptID(style='width: 300px')}} <!-- Increase the width of the stringfield so the id is fully visible on the screen-->
    <br>
    {{ idForm.submitID()}} <!--Submit button-->
    <br>
   </form>

</body>
</html>