<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Receipt Processor</title>
    </head>
<body>
   <h1>Receipt Processor</h1>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

   <form action="{{ url_for('process') }}" id="form1" method="post" enctype="multipart/form-data">  <!-- Form to generate id from receipt -->
    {{ Receiptform.hidden_tag() }}
    {{ Receiptform.jsonFile.label }} {{ Receiptform.jsonFile }} <!--Browse files -->
    <br>
    {{ Receiptform.submit()}} <!--Submit button-->
    <br>
   </form>

   <form action="{{ url_for('points') }}" id="form2" method="post">  <!-- Form to get points from receipt -->
    {{ idForm.hidden_tag() }}
    {{ idForm.receiptID.label }} {{ idForm.receiptID }}
    {{ idForm.submitID()}}
    
   </form>

   <script>
    const fileInput = document.getElementById('jsonFile'); // Get the file input element by its id
    fileInput.accept = '.json' // Set the accept attribute to restrict file types to .json
    </script>

</body>
</html>